.root{
    -fx-background-color: #fff; 
    -fx-padding: 20px;
}

.dialog-pane {    
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.header-panel {
    -fx-background-color: transparent;
    -fx-border-color : #164755; 
    -fx-border-width : 0 0 1 0;

}

.label{
    -fx-alignment: center;
}


.button-bar .container {
    -fx-padding: 30 0 10 0;
}

.button {
    -fx-background-color: #164755;
    -fx-text-fill: #fff;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
}

.button:hover {
    -fx-background-color: #25679c;
}

.button:pressed {
    -fx-background-color: #2576b1;
}
